.new-destination-trip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.new-destination-back {
  color: #385450;
  font-weight: bold;
  text-align: left;
  margin: 30px;
  cursor: pointer;
}

.new-destination-back:hover {
  color:  orange;
}

.new-trip {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 40px #3854503d;
}

.new-destination-title {
    margin: 40px 0;
}

.new-destination-trip-container form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-destination-trip-container label {
  font-weight: bold;
  font-weight: bold;
  font-size: 17px;
  color: #385450;
  align-self: flex-start;
  padding-left: 120px;
  margin: 10px 0 5px 0;
}

.new-destination-trip-container input, .new-destination-trip-container select {
  width: 60%;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid rgb(207, 207, 207);
  padding: 10px;
}

.new-destination-trip-container input[type="file"] {
  border: none;
}

.create-destination-btn {
  margin: 30px 0 40px 0;
  border: 1px solid #385450;
  border-radius: 6px;
  padding: 10px 30px;
  background-color: #385450;
  color: white;
  transition: 200ms all ease-in-out;
}

.create-destination-btn:hover {
  border: 1px solid #385450;
  opacity: 0.8;
}
