.all-destinations-title {
    text-align: center;
    padding: 50px;
    color: #385450;
    font-weight: bold;
    font-size: 50px;
}
.all-destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-destinations-card {
  width: 400px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.all-destinations-image {
  position: relative;
}

.all-destinations-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.all-destinations-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: background 0.3s ease;
}

.all-destinations-image:hover::after {
  background: rgba(0, 0, 0, 0.7);
}

.card-details {
  padding: 10px 0;
  text-align: center;
}

.all-destinations-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  z-index: 2;
}
