.trip-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 60px 30px;
}

.trip-container img {
    height: 400px;
    object-fit: cover;
}

.trip-details {
    text-transform: capitalize;
}

.trip-details h1 {
    margin-bottom: 30px;
}

.trip-details span {
    color: #385450;
    font-weight: bold;
}

.book-now-btn {
    margin-top: 20px;
    border: 1px solid #385450;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #385450;
    color: white;
    transition: 200ms all ease-in-out;
}

.book-now-btn:hover {
    border: 1px solid #385450;
    opacity: 0.8;
}