.Reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-card {
  width: 300px;
  margin: 20px;

}

.review-rating {
    color: #385450;
}

.review-card p {
  margin: 0;
}

.review-card strong {
    color: #385450;
}

.review-name {
    padding-top: 10px;
}